<h2>Show role</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @role.name %>
  </li>

</ul>

<%= link "Edit", to: role_path(@conn, :edit, @role) %>
<%= link "Back", to: role_path(@conn, :index) %>
